<div class="jumbotron center">
	<h1>¡Bienvenido!</h1>
	<p>
		<%= link_to "Ingresar", "#", class: "btn btn-default btn-lg" %>
		<%= link_to "Registrarse", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>
